In [1]:
import pandas as pd
import random
from tqdm import tqdm

In [2]:
object_categories = ['aeroplane', 'bicycle', 'bird', 'boat',
                     'bottle', 'bus', 'car', 'cat', 'chair',
                     'cow', 'diningtable', 'dog', 'horse',
                     'motorbike', 'person', 'pottedplant',
                     'sheep', 'sofa', 'train', 'tvmonitor']

In [3]:
class_mapping = {label:idx for idx, label in enumerate(object_categories)}
class_mapping

{'aeroplane': 0,
 'bicycle': 1,
 'bird': 2,
 'boat': 3,
 'bottle': 4,
 'bus': 5,
 'car': 6,
 'cat': 7,
 'chair': 8,
 'cow': 9,
 'diningtable': 10,
 'dog': 11,
 'horse': 12,
 'motorbike': 13,
 'person': 14,
 'pottedplant': 15,
 'sheep': 16,
 'sofa': 17,
 'train': 18,
 'tvmonitor': 19}

In [4]:
data_path = "./voc_data.csv"

In [5]:
df = pd.read_csv(data_path)
df

                 image      class         x         y     width    height
0      2007_000027.jpg     person  0.523000  0.465021  0.350000  0.514403
1      2007_000027.jpg     person  0.538066  0.452000  0.360082  0.500000
2      2007_000032.jpg  aeroplane  0.479000  0.464413  0.542000  0.373665
3      2007_000032.jpg  aeroplane  0.330000  0.375445  0.128000  0.124555
4      2007_000032.jpg     person  0.408000  0.727758  0.036000  0.174377
...                ...        ...       ...       ...       ...       ...
40134  2012_004328.jpg     person  0.342988  0.635000  0.326220  0.390000
40135  2012_004328.jpg     person  0.742378  0.558000  0.149390  0.212000
40136  2012_004329.jpg     person  0.512012  0.485000  0.681682  0.618000
40137  2012_004330.jpg     person  0.800000  0.574000  0.373333  0.616000
40138  2012_004331.jpg     person  0.310000  0.340000  0.212000  0.546667

[40139 rows x 6 columns]

In [6]:
df['image'] = df['image'].astype(str).replace("jpg", "txt", regex=True)

In [7]:
for index, row in tqdm(df.iterrows()):
    r = random.uniform(0, 1)
    if r < 0.2:
        label_path = 'labels/val/'
    else:
        label_path = 'labels/train/'
    with open(label_path + row['image'], 'a') as file:
        file.write(str(class_mapping[str(row['class'])]) + ' ' + str(row['x']) + ' ' + str(row['y']) + ' '  + str(row['width']) + ' '  + str(row['height']) + '\n')

40139it [00:25, 1573.75it/s]